:root{
    --maroon: #5a0000;
    --white: #ffffff;
    --light_maroon: #611111;
    --gray: #cccccc;
    --dark-gray: #212529;
    --red: #dc3444;
}

html, body{
    background-color: var(white);
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-fluid{
    vertical-align: bottom;
    height:fit-content;
}

.container-fluid .text{
    left: 500px;
    color: gray;
    font-size: 20px;
    position: relative;
    height: 20%;
    bottom: 400px;
    width: fit-content;
}

#header{
    margin-top: 100px;
}

#headshot{
    margin-left: 100px;
    margin-top: 100px;
    width: 20%;
    height: 20%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

h1{
    font: 2.5em;
    font-weight: bolder;
    letter-spacing: em;
    color: black;
}

h2{
    font-size: 2em;
    font-weight: bolder;
}

/* NAVBAR */
.navButton{
    --bs-btn-border-color: none;
    --bs-btn-color: var(--white);
    --bs-btn-hover-bg: var(--maroon); 
    font-size: medium;
}

#linkedIn{
    position: relative;
    left: 1100px;
    bottom: 600px;
    border: none;
    appearance: none;
    background-color: inherit;
}

#linkedIn img{
    display: block;
    width: 2%;
}

#github{
    position: relative;
    left: 1105px;
    bottom: 590px;
    border: none;
    appearance: none;
    background-color: inherit;
}

#github img{
    display: block;
    width: 2%;
}

h3{
    text-align: center;
    font-weight: bolder;
}

.aboutme .text1{
    margin-left: 800px;
    color: gray
}

#tamu{
    width:30%;
    position: relative;
    top: 300px;
    left: 300px;
} 
/* FOR DEBUGGING 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
*/