:root{
    --maroon: #5a0000;
    --white: #ffffff;
    --light_maroon: #611111;
    --gray: #cccccc;
    --dark-gray: #212529;
    --red: #dc3444;
}

html, body{
    scroll-behavior: smooth;
    background-color: var(white);
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
    display: block;
    z-index: 1;
    width:100%;
    position: fixed;
}

.container-fluid{
    vertical-align: bottom;
    height:fit-content;
}

.container-fluid .text{
    left: 500px;
    color: gray;
    font-size: 20px;
    position: relative;
    height: 20%;
    bottom: 400px;
    width: fit-content;
}

#header{
    margin-top: 100px;
    margin-bottom: -700px;
}

#headshot{
    margin-left: 100px;
    margin-top: 100px;
    width: 20%;
    height: 20%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

h1{
    font: 2.5em;
    font-weight: bolder;
    letter-spacing: em;
    color: black;
}

h2{
    font-size: 2em;
    font-weight: bolder;
}

/* NAVBAR */
.navButton{
    --bs-btn-border-color: none;
    --bs-btn-color: var(--white);
    --bs-btn-hover-bg: var(--maroon); 
    font-size: medium;
}

#linkedIn{
    position: relative;
    left: 1096px;
    bottom: 620px;
    border: none;
    appearance: none;
    background-color: inherit;
}

#linkedIn img{
    display: block;
    width: 4%;
}

#github{
    position: relative;
    left: 1104px;
    bottom: 590px;
    border: none;
    appearance: none;
    background-color: inherit;
}

#github img{
    display: block;
    width: 3%;
}

h3{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

.aboutme .text1{
    margin-top: 50px;
    margin-left: 800px;
    color: gray
}

#tamu{
    width:40%;
    position: relative;
    top: 500px;
    left: 150px;
} 

.download-button{
    display: flex;
    width:12%;
    margin-left: 800px;
    background-color: rgb(80,0,0);
    text-align: left;
    border:none;
}
.download-button:hover{
    background-color: rgb(68, 1, 1);
}
.download-button img{
    width: 12%;
    float:right;
}

.experience{
    margin-top: 300px;
}

h4{
    text-align: center;
    font-weight: bolder;
    font-size: 50px
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
  
  /* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.experience{
    text-align: center;
}
.tab button{
    background-color: white;
    border: none;
}
.tab button:hover{
    color: rgb(80,1,1);
}

.active{
    color: rgb(80,1,1)
}

#verticalLine{
    border-left: 3px solid rgb(80,0,0);
    height: 400px;
    left: 50%;
    margin-left: -3px;
    top: 20px;
    position:relative;
}
#industrial-systems{
    color: red;
    position: relative;
    left: 545px;
    bottom: 300px;
    font-size: 24px;
    text-align: left;;
}
#project-manage{
    color: red;
    position: relative;
    left: 812px;
    bottom: 330px;
    font-size: 24px;
    text-align: left;
}

#RTR1{
    position: relative;
    bottom:315px;
    right: 183px;
}
#RTR2{
    position: relative;
    bottom: 345px;
    left: 84px;
}

#IT-Intern{
    color:red;
    position: relative;
    bottom: 350px;
    left: 65px;
    font-size: 24px;
}
#credihogar{
    position:relative;
    bottom: 365px;
    left: 58px;
}
.dot1{
    position: relative;
    height: 20px;
    width: 20px;
    right:766px;
    top: 38px;
    background-color: rgb(80,0,0);
    border-radius: 50%;
    display: inline-block;
}
.dot2{
    position: relative;
    height: 20px;
    width: 20px;
    right:791px;
    top: 182px;
    background-color: rgb(80,0,0);
    border-radius: 50%;
    display: inline-block;
}
.dot3{
    position: relative;
    height: 20px;
    width: 20px;
    right:816px;
    top: 280px;
    background-color: rgb(80,0,0);
    border-radius: 50%;
    display: inline-block;
}
/* FOR DEBUGGING 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
*/