:root{
    --maroon: #5a0000;
    --white: #ffffff;
    --light_maroon: #611111;
    --gray: #cccccc;
    --dark-gray: #212529;
    --red: #dc3444;
}

html, body{
    scroll-behavior: smooth;
    background-color: var(white);
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (min-width: 600px){
    h1{
        font-size: 5em;
    }
    h2{
        font-size: 3em;
    }
}

/* NAVBAR */
.navButton{
    --bs-btn-border-color: none;
    --bs-btn-color: var(--white);
    --bs-btn-hover-bg: var(--maroon); 
    font-size: medium;
}
.navbar{
    display: block;
    z-index: 1;
    width:100%;
    position: fixed;
}
/* HEADER */
.header{
    margin-left: 10%;
    margin-top: 20%;
}
.headshot{
    float: left;
}
.headshot img{
    width:30%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
h1{
    font-weight: bolder;
}
h2{
    font-weight: bolder;
    color: gray;
}
#linkedIn img{
    margin-top: -160%;
    margin-left: 75%;
    width: 20%;
}
#github img{
    margin-top: -140%;
    margin-left: 77%;
    width: 15%;
}

/* ABOUT ME*/
.aboutme{
    margin-top: 20%;
    text-align: center;
}
.aboutText{
    color:gray;
    text-align: initial;
    font-size: small;
    margin-left: 40%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 10fr;
}
#tamu{
    position: relative;
    margin-top: -120%;
    margin-left: -100%;
    width: 700%;
}
.download-button{
    margin-left: 30%;
    width:40%;
    margin-top: -10%;
    background-color: rgb(80,0,0);
    text-align: left;
    font-size: small;
    border:none;
}
.download-button:hover{
    background-color: rgb(68, 1, 1);
}
.download-button img{
    margin-top: 3px;
    width: 10%;
    float: right;
}

/* EXPERIENCE */
.experience{
    margin-top: 30%;
    text-align: center;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tab button{
    background-color: white;
    border: none;
}
.tab button:hover{
    color: rgb(80,1,1);
}

.active{
    color: rgb(80,1,1)
}
/*Style the line and dots displaying work experience/extracurriculars*/
#verticalLine{
    border-left: 3px solid rgb(80,0,0);
    height: 400px;
    left: 50%;
    top: 20px;
    position:relative;
}

.dot1{
    position: absolute;
    height: 1rem;
    width: 1rem;
    margin-left: -52.7%;
    margin-top: 20%;
    background-color: rgb(80,0,0);
    border-radius: 50%;
    display: inline-flex;
}
.dot2{
    position: absolute;
    height: 1rem;
    width: 1rem;
    margin-left: -52.7%;
    margin-top: 50%;
    background-color: rgb(80,0,0);
    border-radius: 50%;
    display: inline-flex;
}
.dot3{
    position: absolute;
    height: 1rem;
    width: 1rem;
    margin-left: -52.7%;
    margin-top: 82%;
    background-color: rgb(80,0,0);
    border-radius: 50%;
    display: inline-flex;
}
.tabText{
    text-align: left;
    line-height: 90%;
}
.ITIntern{
    position: relative;
    bottom: 308px;
    left: 200px;
    font-weight: bold;
    font-size: large;
}
.credihogar{
    position: relative;
    left:200px;
    bottom: 317px;
    font-size: small;
    color:rgb(68, 1, 1)
}
.project-management{
    position: relative;
    bottom: 296px;
    left: 30px;
    font-weight: bold;
    font-size: large;
}
.RTR1{
    position: relative;
    left:30px;
    bottom: 305px;
    font-size: small;
    color:rgb(68, 1, 1)
}
.industrial-systems{
    position: relative;
    bottom: 278px;
    left: 200px;
    font-weight: bold;
    font-size: large;
}
.RTR2{
    position: relative;
    left: 200px;
    bottom: 285px;
    font-size: small;
    color:rgb(68, 1, 1)
}


/* FOR DEBUGGING 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
*/